<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/js/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/xly2clb.css">
    <title>handle my bars</title>

    {{#if signIn}}
    <nav class="nav-container">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="logo-link" href="/"> <h1 class="logo">LOGO</h1></a>
            </li>
            <li class="nav-li right loggedIn">
                <ul>
                    <li class="nav-li">
                        <div class="profile-link">
                            <a href="/dashboard">profile</a>
                        </div>
                    </li>
                    <li class="nav-li">
                        <div class="explore-link">
                            <a href="/">explore</a>
                        </div>
                    </li>
                    <li class="nav-li">
                        <div class="logout-form">
                            <a class="logout-link" href="/users/logout">logout</button></a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    {{else}}
    <nav class="nav-container">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="logo-link" href="/"> <h1 class="logo">LOGO</h1></a>
            </li>
            <li class="nav-li right">
                <ul>
                    <li class="nav-li">
                        <div class="explore-link">
                            <a href="/">explore</a>
                        </div>
                    </li>
                    <li class="nav-li">
                        <p class="register-link"><a href="/users/register">register</a>  or</p>
                    </li>
                    <li class="nav-li">
                        <div class="login-form">
                            <form action="http://localhost:5000/users/login" method="POST">
                                <input class="login-field email" type="email" name="email" placeholder="Email" required>
                                <input class="login-field" type="password" name="password" placeholder="Password" required>
                                <input class="login-button" type="submit" value="login" class="">
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        {{#if error}}
            <p>{{ error }}</p>
        {{/if}}
    </nav>
    {{/if}}

</head>
<body>
    {{!-- this is a placeholder --}}
    {{{body}}}
</body>
</html>