<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/js/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/xly2clb.css">
    <script src="https://kit.fontawesome.com/0e3529bb94.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/db8tnyh6d/image/upload/v1590618091/clothing-users-app/Component_10_1_nm6mg5.png"/>
    <title>fraiment</title>
    {{!-- <meta 
        name='viewport' 
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' 
    /> --}}


    {{#if signIn}}
    <nav class="nav-container">
    <div onclick='append()' class="hamburger" type="button">
        <div class="burger-line top"></div>
        <div class="burger-line mid"></div>
        <div class="burger-line bot"></div>
    </div>
        <ul class="nav-ul">
            <li class="nav-li logo">
                <a class="logo-link" href="/"> <h1 class="logo">fraiment</h1></a>
                <div class="fraiment-underline"></div>
            </li>
            <li class="nav-li right loggedIn">
                <ul>
                    <li class="nav-li">
                        <div class="explore-link">
                            <a class="nav-explore" href="/">explore</a>
                        </div>
                    </li>
                    <li class="nav-li">
                        <div class="profile-link">
                            <a class="nav-profile" href="/dashboard">profile</a>
                        </div>
                    </li>
                    <li class="nav-li">
                        <div class="logout-form">
                            <a class="logout-link" href="/users/logout">logout</button></a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    {{else}}
    <nav class="nav-container">
    <div onclick='append()' class="hamburger" type="button">
        <div class="burger-line top"></div>
        <div class="burger-line mid"></div>
        <div class="burger-line bot"></div>
    </div>
        <ul class="nav-ul">
            <li class="nav-li logo">
                <a class="logo-link" href="/"> <h1 class="logo">fraiment</h1></a>
                <div class="fraiment-underline"></div>
            </li>
            <li class="nav-li right">
                <ul>
                    {{!-- <li class="nav-li">
                        <div class="explore-link">
                            <a href="/">explore</a>
                        </div>
                    </li> --}}
                    <li class="nav-li">
                        <p class="register-link"><a href="/users/register">register</a>  or</p>
                    </li>
                    <li class="nav-li">
                        <div class="login-form">
                            <form action="/users/login" method="POST">
                                <input class="login-field email" type="email" name="email" placeholder="Email" required>
                                <input class="login-field" type="password" name="password" placeholder="Password" required>
                                <input class="login-button" type="submit" value="login" class="">
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
     <div class="login-error">
        {{#if error}}
            <p style="right:0px; text-align:right">{{ error }}</p>
        {{/if}}
    </div>
{{/if}}
</head>
<body>

    {{!-- this is a placeholder --}}
    {{{body}}}


</body>
    <script>
        document.querySelector('.nav-li.logo').addEventListener('mouseover', function(){
            document.querySelector('.fraiment-underline').style.width = '92px';
        });

        document.querySelector('.nav-li.logo').addEventListener('mouseout', function(){
            document.querySelector('.fraiment-underline').style.width = '0px';
        });

        if(document.querySelector('.login-error p') != null){
            setTimeout(function(){document.querySelector('.login-error p').style.display = 'none'}, 2500)
        }       

        function append(){
            if(!document.querySelector('.is-active')){
                document.querySelector('.hamburger').classList.add('is-active')   
                document.querySelector('.nav-li.right').style.display = 'block'
    
            }else{
                document.querySelector('.hamburger').classList.remove('is-active')   
                document.querySelector('.nav-li.right').style.display = 'none'
            } 
        }
    </script>
</html>