<h1>dashboard</h1>
<p>welcome {{name}}</p>
<a href="/users/logout"><button>logout</button></a>


    {{#if success_msg}}
        <p>{{ success_msg }}</p>
    {{/if}}
<h2>add item</h2>

<form action="http://localhost:5000/dashboard" method="POST">

    <p>type:</p>
    <select type="text" name="type" id="">
        <option value="Accessories">Accessories</option>
        <option value="Hats">Hats</option>
        <option value="Outerwear">Outerwear</option>
        <option value="Tops">Tops</option>
        <option value="Bottoms">Bottoms</option>
        <option value="Full Body">Full Body</option>
        <option value="Full Body">Shoes</option>
    </select>

    <p>brand:</p>
    <input type="text" name="brand" id="">

    <p>item name:</p>
    <input type="text" name="itemName" id="">

    <p>add picture?</p>

    <input type="submit" value="add clothing item!" class="">

</form>
<br>
<hr>
<hr>
<h2>add Outfit</h2>
<br>

<p>Accessories:</p>
<select type="text" name="Accessories" id="accessorieSelect">
    <option value="Accessories">Accessories</option>
</select>
<p>Hat:</p>
<select type="text" name="Hat" id="hatSelect">
    <option value="Hat">None</option>
</select>

<p>Outerwear:</p>
<select type="text" name="Hat" id="outerwearSelect">
    <option value="Outerwear">None</option>
</select>

<p>Top:</p>
<select type="text" name="Top" id="topSelect">
    <option value="Tops">Tops</option>
</select>

<p>Bottom:</p>
<select type="text" name="Bottom" id="bottomSelect">
    <option value="Bottoms">Bottoms</option>
</select>

<p>Full Body:</p>
<select type="text" name="Full Body" id="fullbodySelect">
    <option value="Full Body">Full Body</option>
</select>

<p>Shoes:</p>
<select type="text" name="Shoes" id="shoeSelect">
    <option value="Shoes">Shoes</option>
</select>



<hr>
<div id="clothesList" class="row"></div>
<script src="/js/script.js"></script>
