<h1>dashboard</h1>
<p>welcome {{name}}</p>
<a href="/users/logout"><button>logout</button></a>

<h2>add item</h2>

<form action="http://localhost:5000/dashboard" method="POST">

    <p>type:</p>
    <input type="text" name="type" id="">

    <p>brand:</p>
    <input type="text" name="brand" id="">

    <p>item name:</p>
    <input type="text" name="item name" id="">

    <p>add picture?</p>

    <input type="submit" value="Register" class="">

</form>
