<h1>dashboard</h1>
<p>Welcome {{name}}</p>
<a href="/users/logout"><button>logout</button></a>

{{#if success_msg}}
    <p>{{ success_msg }}</p>
{{/if}}
<div class="col" style="width:200px !important; margin:0; position: absolute ">
<h2>add item</h2>
<form action="http://localhost:5000/dashboard/addItem" method="POST">
    <p>type:</p>
    <select type="text" name="type" id="">
        <option value="Accessories">Accessories</option>
        <option value="Hats">Hats</option>
        <option value="Outerwear">Outerwear</option>
        <option value="Tops">Tops</option>
        <option value="Bottoms">Bottoms</option>
        <option value="FullBody">Full Body</option>
        <option value="Shoes">Shoes</option>
    </select required>

    <p>brand:</p>
    <input type="text" name="brand" id="" required>

    <p>item name:</p>
    <input type="text" name="itemName" id=""required>

    <p>add picture?</p>

    <input type="submit" value="add clothing item!" class="">
</form>
</div>


<div class="col" style="width:200px !important; margin-left: 250px !important; padding:0">

<h2>add Outfit</h2>


<form action="http://localhost:5000/dashboard/addOutfit" method="POST" enctype="multipart/form-data">
<p>jpeg or png images only</p>
<input type="file" name="file" id="file" class="">
<p>Accessories:</p>
<select type="text" name="Accessories" id="accessorieSelect">
    <option value="none">None</option>
</select>
<p>Hat:</p>
<select type="text" name="Hats" id="hatSelect">
    <option value="none">None</option>
</select>

<p>Outerwear:</p>
<select type="text" name="Outerwear" id="outerwearSelect">
    <option value="none">None</option>
</select>

<p>Top:</p>
<select type="text" name="Tops" id="topSelect">
    <option value="none">None</option>
</select>

<p>Bottom:</p>
<select type="text" name="Bottoms" id="bottomSelect">
    <option value="none">None</option>
</select>

<p>Full Body:</p>
<select type="text" name="FullBody" id="fullbodySelect">
    <option value="none">None</option>
</select>

<p>Shoes:</p>
<select type="text" name="Shoes" id="shoeSelect">
    <option value="none">None</option>
</select>

 <input type="submit" value="Make Outfit" class="">
</form>
</div>

<div id="outfitList" class="col" style="width:200px !important; margin-left: 500px !important; padding:0"></div>

<br>
<hr>
<div id="picMe" class="row"></div>
<div id="clothesList" class="row"></div>
<script src="/js/script.js"></script>
