<h1>dashboard</h1>
<p>welcome {{name}}</p>
<a href="/users/logout"><button>logout</button></a>

<h2>add item</h2>

<form action="http://localhost:5000/dashboard" method="POST">

    <p>type:</p>
    <input type="text" name="type" id="">

    <p>brand:</p>
    <input type="text" name="brand" id="">

    <p>item name:</p>
    <input type="text" name="itemName" id="">

    <p>add picture?</p>

    <input type="submit" value="add clothing item!" class="">

</form>

<div id="clothesList"></div>

<script>
//This Script makes a fetch (essential a GET Http) request to the server
const clothesList = document.getElementById('clothesList');
fetch('http://localhost:5000/dashboard/getClothes')
    .then(res => res.json())
    .then((item) => {
        //.map() is used to cycle through the array, and a template literal is used to return HTML for
        //each item in the array. We call these contact, and we can access items inside each contact, using contact.NAMEOFITEM. InnerHTML is then used to parse the returned HTML to the contactList object
        let dataFeed = item.map((item) => {
            return `
            <div>
                <p>@${item.type}</p>
                <p>${item.brand}</p>
                <p>${item.itemName}</p>
            </div>
        `
        }).join('');
        console.log(dataFeed)
        clothesList.innerHTML = dataFeed;
    })
    .catch(err => { throw err });
</script>
