    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
    <form action="http://localhost:5000/users/register" method="POST">
        <input type="text" name="name" placeholder="Enter Name" value="{{nameholder}}" require>
        <input type="text" name="userName" placeholder="user name" value="{{nameholder}}" require>
        <input type="email" name="email" placeholder="Enter Email" value="{{emailholder}}" require>
        <input type="password" name="password" placeholder="Create Password" require>
        <input type="password" name="password2" placeholder="Confirm Password" require>
        <input type="submit" value="Register" class="">
    </form>