    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
    <div class="grid-container">
        <form class="grid-item grid-form" action="http://localhost:5000/users/register" method="POST">
        <div class="image-upload" id="main-cropper">
            <label for="file-input">
                <img class="registerImgUpload" src=""/>
            </label>
            <input id="file-input" type="file" onchange="readURL(this);"/>
        </div>
        <div>
            <input class="form-item" type="text" name="name" placeholder="Enter Name" value="{{nameholder}}" require>
        </div>
        <div>
            <input class="form-item" type="text" name="userName" placeholder="User name" value="{{nameholder}}" require>
        </div>
        <div>
            <input class="form-item" type="email" name="email" placeholder="Enter Email" value="{{emailholder}}" require>
        </div>
        <div>
            <input class="form-item" type="password" name="password" placeholder="Create Password" require>
        </div>
        <div>
            <input class="form-item" type="password" name="password2" placeholder="Confirm Password" require>
        </div>
        <div>
            <input class="form-item" type="submit" value="Register" class="">
        </div>
        </form>
    </div>

    <script>

        

    </script>

    {{!-- document.getElementById("file-input").onchange = function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.querySelector(".registerImgUpload").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        }; --}}