
<div class="welcome grid">
        <div id="outfitList">

        </div>
    </div>
<script src="/js/masonry.pkgd.min.js "></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>



    //This Script makes a fetch (essential a GET Http) request to the server
const outfitList = document.getElementById('outfitList');
fetch('http://localhost:5000/dashboard/getAllOutfits')
    .then(res => res.json())
    .then((outfits) => {
        console.log(outfits)
        let dataFeed = outfits.map((outfits) => {

            // math to add q_60 into string
            String.prototype.splice = function(idx, rem, str) {
                return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
            };

            // setting image quality to 60% for retriveal from cloudinary for faster page load times
            var str ='';
            str = outfits.ImageURL;
            var pos = str.indexOf('upload/')+6;
            var url = str.splice(pos, 0, '/q_60');

            return `
            <div class="grid-item">
                <a href="/p/${outfits.userName}/${outfits._id}"><img class="welcomeOutfitImages" src="${url}"></a>
            </div>
        `
        }).join('');
        //console.log(dataFeed)
        outfitList.innerHTML = dataFeed;
    }).then(()=>{
        var grid = document.querySelector('.grid');
        var msnry;
            imagesLoaded( grid, function() {
            // init Isotope after all images have loaded
            msnry = new Masonry( grid, {
                itemSelector: '.grid-item',
            });
        });
    })
</script>