html, body{
    margin: 0;
    padding:0;
}

body {
    margin: 0;
}

.fraiment-underline{
    width: 0px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    margin-left:6px;
    margin-top:2px;
    opacity: 1;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.stamp p{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:44px;
    margin:30px 0 10px 0;
    text-align:center;
}

.stamp1 {
left: 30%;
top: 10px;
width: 20%;
height: 100px;
}

h1{
    font-family: quasimoda, sans-serif;
    font-weight: 600;
    margin:0px;
}

input, select, button{
    cursor: pointer;
    
}


h2{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: italic;
}

a{
    color:black;
    text-decoration: none;
}

a, button, input, select{
    -webkit-appearance: none;
}

p, button{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:focus{
    outline: none;
    -webkit-appearance: none;
}

/* NAV */
.hamburger{
    display: none !important;
}

.right{
    float:right;
    background-color: #DDDDDD;
}

.logo{
    position: relative;
    font-family: quasimoda, sans-serif;
    font-weight: 800;
    font-style: italic;
    line-height: 20px;
}

.logo-link{
    text-decoration: none;
}

.logout-form,
.login-form{
}

.nav-li{
    display: inline-block;
}

.nav-ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}

.logout-link,
.login-button {
    position: relative;
    font-family: quasimoda, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: #DDDDDD;
    border:none;
}

.login-field{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DDDDDD;
    margin-right:10px;
    font-size: 14px;
    border:none;
    border-bottom: 1px solid #707070;
}

.login-field::placeholder{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#707070;
}

.register-link{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin:0px;
}

.register-link a{
    text-decoration: underline;
    font-size: 14px;
    color:#707070;
}

.profile-link,
.explore-link{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top:-2px;
    margin-right:100px;
    font-size: 18px;
}

.profile-link:hover,
.explore-link:hover{
text-decoration: underline;
}

.welcome.grid{
    margin-top:20px;
    margin-left: 20vw;
    margin-right: 20vw;
}


.login-error p{
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}



/* END NAV */
/*  */

/*  */
/* REGISTER PAGE */

.register.grid-item{
    overflow:hidden; 
}

.welcome.grid-item{
    width:31.5%;
    margin-bottom:5px;
}

.profile-grid-item:hover,
.welcome.grid-item:hover{
    transition-duration: 0.2s;
    transform: scale(1.02);
}

.welcomeOutfitImages{
    object-fit: fill; 
    width:100%;
}


.register.grid-container{
    display: grid;
    justify-content: center;
    margin-top:10vw;
}

.register.grid-form{
    display:block;
    justify-content: center;
    text-align:center;
    /* padding: 50px 150px 90px 150px;   */
    border: 5px solid #DDDDDD;
    border-radius: 5px;
}

.form-item{
    text-align: center;
    margin-bottom:10px;
    font-size: 16px;
    line-height: 30px;
    width: 300px;
    border-radius: 2px;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
}

.register.errors{
    margin-bottom:30px;
    margin-top:30px;
}

.register.alert{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom:10px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

.form-item.button{
    padding-left:20px;
    padding-right:20px;
    background-color: #DDDDDD;
    font-style: italic;
    margin-bottom:45px;
}

.image-upload{
    margin: 20px auto;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius:50%;
    border: 4px solid #DDDDDD;
}

.image-upload:hover{
    transition-duration: 0.5s;
    border: 4px solid #707070;
}

.registerImgUpload{
    height:100px;
    position: relative;
}

.image-upload>input {
    display: none;
  }

/* REGISTER END */
/*  */




/*  */
/* PUBLIC PROFILES */

.public.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    height: 100vh;
}

.public.displayOutfitItems{
    margin-top:auto;
    margin-bottom:auto;
    padding-left: 20px;
    padding-right: 20px;
}

.public-item{
    position:relative;
    border-left:2px solid black; 
    border-top:2px solid black;
    margin-bottom:30px;
    margin-right:10%;
    background-color:white;
    /* background-image: url('https://image.flaticon.com/icons/svg/598/598494.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right; */
}

.public-item p{
    padding-right:40px;
}

.search-icon{
    position:absolute;
    width: 20px;
    top:50%;
    right:20px;
    float:top;
}

.public-itemS{ 
    margin:0;
    padding-left:20px;
}

.public-itemS.top{ 
    padding-top:20px;
}

.public-itemS.type{ 
    color: #606060;
    font-style: italic;
}

.public-itemS.bot{ 
    padding-bottom:20px;
}

.public.chosen-fit{
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 40% 1fr;
}


.public.chosen-photo{
    margin-top:30px;
    width:120%;
}

.public.grid-item.right{
    padding-top:25px;
    background-color:antiquewhite;
}

.public.username{
    font-style: italic;
    font-size: 22px;
    margin:0;
    margin-top:20px;
}
.public.username{
    margin-left:20px;
}


.public.profilepic-div{
    overflow: hidden;
    height: 120px;
    width: 120px;
    border-radius:50%;
    border: 4px solid #DDDDDD;
}
.public.profile-image{
    height: 130px;
    position: relative;
}

.public.user{
    display:grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    margin:20px;
}

.profile-grid-item{
    margin-bottom:5px;
    width:48%;
}


.publicOutfitImages{
    width:100%;
    margin-left:5px;
}

.profile.clothing-item{
    position: relative;
    background-color: white;
    padding:10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.profile.clothing-item p{
    padding-right:40px;
}

.profile.pt.p-type{
    font-style:italic;
    color:#707070;
}

.profile.wardrobe-item{
    position: relative;
    background-color: white;
    padding:10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-bottom:20px;
}

.profile.wardrobe-item p{
    padding-right:40px;
}

.profile-grid-item-clothing:hover,
.public-item:hover,
.profile.clothing-item:hover,
.profile.wardrobe-item:hover{
    transition-duration: 0.2s;
    transform: scale(1.03)
}

.search-icon:hover{
    transition-duration: 0.4s;
    transform:rotate(360deg) scale(1.3);
}

.profile.wardrobe-item p{
    margin:0;
}

.profile-outfits-container{
    margin-left:20px;
    background-color:antiquewhite;
    
}

.public.profile-items-container{
    margin-left:30px;
}

.public.profile-outfits{
    background-color: antiquewhite;
}

.item-amount,
.post-amount{
    margin-top:20px;
}


.post-item-amount,
.post-amount-text{
    margin:5px;
    font-size: 24px;
    font-style: italic;
    margin-bottom:auto;
    text-align: center;
}

.post-item-amount.post,
.post-amount-text.post{
    margin:8px;
    font-size: 16px;
}

.public.profile-view-choice{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 1fr 1fr;
    margin-left:30px;
    margin-right:10px;
}

.public.profile-view-select{
    transition-duration: 1s;
    text-align: center;
    color: black;
}

.profile-view-select p:hover{
    cursor: pointer;
}

.profile-grid-item-clothing{
    position: relative;
    margin-top:40px;
    margin-bottom:40px;
    padding:20px;
    background-color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.profile-grid-item-clothing .type{
    color: #606060;
    font-style: italic;
}

.profile-grid-item-clothing p{
    padding-right:40px;
}

.public.profile-view-select{
    /* border: solid 2px black; */

}

/* PUBLIC PROFILES END */
/*  */




/*  */
/* USER PROFILE START */

.profile.main-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-columns: 0.3fr 1.2fr 1.2fr 0.3fr;
    height: 100vh;
}
.profile.add-select{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: 40.25% 40.25% 19.5%;
    margin-bottom:50px;
}

.profile.addOutfit-title,
.profile.addItem-title{
    font-size: 24px;
    text-decoration-color: black !important;
    cursor: pointer;
    background-color:#DDDDDD;
    width:95%; 
    text-align: center;
    height:42px;
    border-radius: 5px;
    box-sizing: border-box;
    margin:auto;
}

.profile.submit.item,
.profile.submit.outfit{
    font-size: 24px;
    text-decoration-color: black !important;
    cursor: pointer;
    background-color:#DDDDDD;
    width:80%; 
    text-align: center;
    border:none;
    height:42px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: quasimoda;
}

.profile.main-grid-item.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns:  1fr 1fr;
}

.image-upload{
    margin: 20px auto;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius:50%;
    border: 4px solid #DDDDDD;
}

.profile.p-image-upload{
    margin-top:30px;
}

.profile.p-image-upload:hover{
    transition-duration: 0.5s;
}

.profileImgUpload{
    height:45px;
    position: relative;
}

.p-image-upload>input {
    display: none;
  }


  .profileImgUpload{
    font-size: 24px;
    overflow: hidden;
    text-align: center;
}

.profile.clothing-item{
    margin-bottom:10px;
    margin-left:10px;
}

.profile.clothing-item-img img{
    position: relative;
    width:100%;
}

.profile.delete{
    position:absolute;
    font-size:16px;
    height:24px;
    background:#D3163A;
    margin-top:10px;
    margin-left:10px;
    border:none;
    z-index: 1;
    font-style: italic;
    color: white;
}


.profile.delete-cancel{
    font-style: italic;
    font-size:16px;
    height:24px;
    position:absolute;
    z-index: 1;
    margin:0;
    margin-top:10px;
    margin-left:80px;
    display:none;

    border:none;
    background-color: white;
}

.profile.clothing-item p{
    margin:0;
}

.profile.outfit-list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 1fr 1fr;
}

.profile.img-container img{
    width: 95%;
}

.profile.img-container{
    margin-top:20px;
}

.profile.item-container{
    background-color: antiquewhite;
    margin-top:20px;
}

.profile.profilepic-div{
    overflow: hidden;
    height: 120px;
    width: 120px;
    border-radius:50%;
    border: 4px solid #DDDDDD;
}

.profile-profile-image{
    height:130px
}


.profile.main-grid-item.profile-part{
    padding-bottom:30px;
    padding-left:20px;
    background-color: antiquewhite;
}

.profile.view-choice{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 1fr 1fr;
}

.profile.view-choice p{
    text-align:center;
    margin-bottom:0;
}

    
.profile.addItem-text{
    font-size: 14px;
    margin-bottom:5px;
}

.profile.input{
    border:1px solid black;
    margin-bottom: 30px;
    height:25px;
    border-radius:4px;
    width:80%;
    
}

.profile.button{
    background-color: #DDDDDD;
}

.profile.input:placeholder-shown{
    font-style: italic;
}


.profile.addItem-dropdown{
    height:35px;
    margin-top:10px;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: italic; 
    width:80.5%;
    font-size: 16px; 
    background-image: url("https://image.flaticon.com/icons/svg/318/318426.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    background-size: 10px;
    border:1px solid black;
    background-color: white;
    -webkit-appearance:none;
    padding-left:10px;
}

.profile.addItem-name.input,
.profile.addItem-brand.input{
    font-size: 16px; 
    height:35px;
}

.profile.dropdown-container{
    width:100%;
}

.profile.username{
    position: relative;
    color: black;
    font-style: italic;
    font-size: 18px;
    margin:10px 0;
}

.profile.name{
    position: relative;
    color: black;
    font-style: normal;
    font-size: 16px;
    margin:10px 0;
}

.profile.profilepic-div{
    margin-top:20px;
}

.profile.outfit-list-container{
}

.profile.addOutfit-text{
    font-size: 14px;
    margin-bottom:5px;
}

.profile.main-grid-item.addOutfit h1,
.profile.main-grid-item.addItem h1{
    margin-top:30px;
    font-size:22px;
    margin-bottom:30px;
}

.profile.info-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile.info-container p{
    
    margin: 5px;
    font-size: 24px;
    font-style: italic;
    margin-bottom: auto;
    text-align: center;
}

.profile.item-amount,
.profile.post-amount{
    margin-top:50px;
}

.profile.info-container p.posts{
    margin: 8px;
    font-size: 16px;
}
/* USER PROFILE END */
/*  */


/* 
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 100px) and (max-width: 600px) {

     /* NAV */
     .hamburger{ 
        position: absolute;
        right:20px;
        top:7px;
        z-index: 3;
        display:inline !important;
    }

    .burger-line{
        transition: ease-in-out;
        transition-duration: 0.25s;
        width: 30px;
        height: 3px;
        border-radius: 10px;
        background-color: black;
        margin: 5px 0;
    }

    .burger-line.mid{
        width: 20px;
        margin-left: 5px;
    }

    .is-active{
        /* transform: translate(-7px, -3.5px) */
        border: lightcoral;
    }

    .is-active .top{
        transform: translate(1px, 2px) rotate(-50deg);
        width:15px;
    }

    .is-active .mid{
        transform-origin: center;
        transform:  translate(-2.5px) rotate(90deg);
    }


    .is-active .bot{
        transform: translate(9px, -14px) rotate(50deg);
        width:15px;
    } 

    .nav-container{
        padding: 10px 30px;
        background-color: #DDDDDD;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        z-index: 2;
    }

    .nav-li.right{
        float: none;
        margin-top:30px;
        height:550px;
        display:none;
        /* display: inline; */
    }

    .nav-li.right .nav-li{

        display: inline;
        text-align: center;
        
    }

    .login-button,
    .login-field{
        font-size: 30px;
        width: 50%;
        margin-top:50px;
        text-align: center;
    }

    .login-button{
        margin-top:70px;
    }

    .nav-li.right ul{
        padding:0;
    }

    .explore-link,
    .profile-link{
        font-size: 40px;
        margin-top:100px;
        margin-right:0px;
        text-align: center;
    }

    .register-link{
        
        margin-top:75px;
    }

    .register-link,.register-link a{
        font-size: 30px;
    }

    .logout-form{
        margin-top:100px;
        margin-bottom:70px;
    }

    .logout-link{
        font-size: 25px;
        padding: 10px 20px;
        text-decoration: underline;
        text-decoration-style: double;
        text-decoration-color: red;
    }

    .login-error p{
        text-align: center !important;
    }

    /* end of NAV */


        /*  */
    /* REGISTER */

    .register.grid-container{
        grid-template-columns: repeat(4, 1fr); 
        grid-template-columns: 0.2fr 3.6fr 0.2fr;
    }

    .register.grid-form{
        border:none;
    }

    .form-item{
        width:150px;
    }

    /* END OF REGISTER */
    /*  */


    /*  */
    /* PUBLIC PROFILES */

    .profile-grid-item-clothing{
        margin-bottom:0;
    }
    
    .grid-profile-container{
        margin-top:50px;
    }

    .public.grid-container{
        display: initial;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
        
    }

    .public.chosen-fit{
        display: initial;
    }

    .public.chosen-photo{
        width:80%;
        margin-left:10%;
    }

    .public-item{
        margin: 10px 10%;
        border-left:none;
        border-bottom:solid 2px black;
        border-top:none;
    }

    .profile-grid-item{
        width:48%;
    }

    .profile-outfits-container{
        margin-left:5px;
        margin-right:10px;
    }

    .public.user{
        margin-bottom:0;
        grid-template-columns: 1fr 0.7fr 0.7fr 0.5fr;
    }

    .public.profile-view-choice{
        margin-bottom:10px;
    }

    .public.profilepic-div{
        height:80px;
        width:80px;
    }

    .public.profile-image{
        height:90px;
    }

    .item-amount, 
    .post-amount{
        margin-top:10px;
    }

    .public.username{
        font-size:18px;
    }

    .public.profile-view-choice{
        margin-left:0;
        margin-right:0;
    }

    .public.chosen-fit{
        position: relative;
    }

    .right{
        float:none;
    }

    .public.profile-items-container{
        width:90%;
        margin: 0 auto;
    }
    /* END OF PUBLIC */
    /*  */

    /*  */
    /* START OF PROFILE */

    .profile.main-grid-container{
        display:initial;
    }
    
    .profile.main-grid-item.addOutfit h1, 
    .profile.main-grid-item.addItem h1{
        text-align:center;
    }

    .profile.add-select{
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .profile.addOutfit-title, 
    .profile.addItem-title{
        height:50px;
    }

    .profile.addOutfit-title, 
    .profile.addItem-title{
        padding-top:4px;
    }

    .profile.addOutfit-text.red{
        margin-bottom:40px;
    }    

    .profile.addOutfit-text,
    .profile.addItem-text{
        text-align: center;
    }

    .profile.profile.dropdown-container{
        width:80.5%;
        margin: 0 auto;
    }


    .profile.addItem-dropdown{
        width:100%;
        height:45px;
    }
    
    .profile.addItem-dropdown.outfit{
        width:80%;
        margin-left:10%;
    }

    .profile.addItem-name.input, 
    .profile.addItem-brand.input{
        text-align: center;
        margin-left:10%;
        width:79.5%;
    }

    .profile.submit.item{
        margin-left: 10%;
        width:80.3%;
        height:50px;
        margin-top:30px;
    }

    .profile.p-image-upload{
    }

    .profileImgUpload{
        width:80vw;
        height:100% !important;
        margin-left:10%;
    }

    .profile.submit.outfit{
        margin-left:10%;
        height:50px;
        margin-top:30px;
    }

    .profile.input{
        margin-bottom:20px;
    }

    .profile.main-grid-item.profile-part{
        padding-top:10px;
        margin-top:40px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:60px;
    }

    .profile.delete-cancel,
    .profile.delete{
        height:40px;
    }

    .profile.rightright{
        display: none;
    }

    .profile.img-container img {
        width:130%;
    }
    
    .profile.delete-cancel{
        margin-top:5px;
        margin-left:75px;
    }

    .profile.delete{
        margin-left:5px;
        margin-top:5px;
    }

    .profile.pt{
        font-size:14px;
        padding-right:25px !important;
    }

    .search-icon{
        width:15px;
        right:10px;
    }

    .profile.profilepic-div{
        width: 90px;
        height: 90px;
    }
    .profile.profilepic-div img{
        height:105px;
    }

    .profile.info-container{
        grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .profile.item-amount, 
    .profile.post-amount{
        margin-top:30px;
    }

    .profile.post-amount p, 
    .profile.item-amount p{
        font-size:20px;
    }

    .profile.post-amount p.posts, 
    .profile.item-amount p.posts{
        font-size:18px;
        margin:4px;
    }

    /*  */
    /* END OF PROFILE */
    
    /* change amount of images in masonry */
    .welcome.grid-item{
        width:100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* change amount of images in masonry */
    .welcome.grid-item{
        width:48%;
    }

     /* NAV */
     .hamburger{ 
        position: absolute;
        right:20px;
        top:7px;
        z-index: 3;
        display:inline !important;
    }

    .burger-line{
        transition: ease-in-out;
        transition-duration: 0.25s;
        width: 30px;
        height: 3px;
        border-radius: 10px;
        background-color: black;
        margin: 5px 0;
    }

    .burger-line.mid{
        width: 20px;
        margin-left: 5px;
    }

    .is-active{
        border: lightcoral;
    }

    .is-active .top{
        transform: translate(1px, 2px) rotate(-50deg);
        width:15px;
    }

    .is-active .mid{
        transform-origin: center;
        transform:  translate(-2.5px) rotate(90deg);
    }


    .is-active .bot{
        transform: translate(9px, -14px) rotate(50deg);
        width:15px;
    } 

    .nav-container{
        padding: 10px 30px;
        background-color: #DDDDDD;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        z-index: 2;
    }

    .nav-li.right{
        float: none;
        margin-top:30px;
        height:550px;
        display:none;
    }

    .nav-li.right .nav-li{
        display: inline;
        text-align: center;
    }

    .login-button,
    .login-field{
        font-size: 30px;
        width: 50%;
        margin-top:50px;
        text-align: center;
    }

    .login-button{
        margin-top:70px;
    }

    .nav-li.right ul{
        padding:0;
    }

    .explore-link,
    .profile-link{
        font-size: 40px;
        margin-top:100px;
        margin-right:0px;
        text-align: center;
    }

    .register-link{
        
        margin-top:75px;
    }

    .register-link,.register-link a{
        font-size: 30px;
    }

    .logout-form{
        margin-top:200px;
        margin-bottom:70px;
    }    
    
    .logout-link{
        font-size: 25px;
        padding: 10px 20px;
        text-decoration: underline;
        text-decoration-style: double;
        text-decoration-color: red;
    }

    .login-error p{
        text-align: center !important;
    }
    

    /* end of NAV */
    /*  */


    /*  */
    /* REGISTER */

    .register.grid-container{
        grid-template-columns: repeat(4, 1fr); 
        grid-template-columns: 0.5fr 3fr 0.5fr;
    }

    /* END OF REGISTER */
    /*  */

    /*  */
    /* PUBLIC PROFILES */

    .public.grid-container{
        grid-template-columns:0.1fr 1.4fr 1.4fr 0.1fr ;
    }

    .profile-grid-item{
        width:47%;
    }

    .public.chosen-fit{
        display:inherit;
        top:0px;
        position: relative;
    }

    .public.chosen-photo{
        width:70%;
        margin-left:10%;
    }

    .public.profilepic-div{
        height:90px;
        width:90px;
    }

    .public.profile-image{
        height:100px;
    }

    .item-amount, 
    .post-amount{
        margin-top: 15px;
    }

    .public-item{
        border:none;
        margin-bottom:5px;
    }

    .public-itemS.top{
        padding-top:10px;
    }

    .public.user{
        grid-template-columns: 2fr 1fr 1fr ;
    }

    /* END OF PUBLIC */
    /*  */

    /*  */
    /* START OF PROFILE */

    .profile.main-grid-container{
        display:initial;
    }
    
    .profile.main-grid-item.addOutfit h1, 
    .profile.main-grid-item.addItem h1{
        text-align:center;
    }

    .profile.add-select{
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .profile.addOutfit-title, 
    .profile.addItem-title{
        height:50px;
    }

    .profile.addOutfit-title, 
    .profile.addItem-title{
        padding-top:4px;
    }

    .profile.addOutfit-text.red{
        margin-bottom:40px;
    }    

    .profile.addOutfit-text,
    .profile.addItem-text{
        text-align: center;
    }

    .profile.profile.dropdown-container{
        width:80.5%;
        margin: 0 auto;
    }


    .profile.addItem-dropdown{
        width:100%;
        height:45px;
    }
    
    .profile.addItem-dropdown.outfit{
        width:80%;
        margin-left:10%;
    }

    .profile.addItem-name.input, 
    .profile.addItem-brand.input{
        text-align: center;
        margin-left:10%;
        width:79.5%;
    }

    .profile.submit.item{
        margin-left: 10%;
        width:80.3%;
        height:50px;
        margin-top:30px;
    }

    .profile.p-image-upload{
    }

    .profileImgUpload{
        width:40vw;
        height:100% !important;

        margin-left:30%;
    }

    .profile.submit.outfit{
        margin-left:10%;
        height:50px;
        margin-top:30px;
    }

    .profile.input{
        margin-bottom:20px;
    }

    .profile.main-grid-item.profile-part{
        padding-top:10px;
        margin-top:40px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:60px;
    }

    .profile.delete-cancel,
    .profile.delete{
        height:40px;
    }

    .profile.rightright{
        display: none;
    }

    .profile.info-container{
        grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .profile.item-amount, 
    .profile.post-amount{
        margin-top:40px;
    }

    /*  */
    /* END OF PROFILE */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .register.grid-container{
        grid-template-columns: repeat(4, 1fr); 
        grid-template-columns: 1fr 2fr 1fr;
    }

    .login-error{
        margin-right:30px;
    }

    .nav-li.right{
        transition-duration:0.5s ;
        margin-right:0px !important;
        display:block !important;
    }

    .nav-container{
        padding: 10px 30px;
        background-color: #DDDDDD;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        z-index: 2;
    }

    .public.grid-container{
        grid-template-columns:0.2fr 1.3fr 1.3fr 0.2fr ;
    }

    .public.chosen-fit{
        display:inherit;
        top:0px;
        position: relative;
    }

    .public.chosen-photo{
        width:80%;
        margin-left:10%;
        margin-bottom:10%;
    }

    .public-item{
        margin-right:0px;
    }

    .public-item{
        border:none;
        margin-bottom:5px;
    }

    .public-itemS.top{
        padding-top:10px;
    }

    .public.user{
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    }


    .profile.addOutfit-title,
    .profile.addItem-title{
        font-size: 20px;
    }

    .profile.main-grid-container{
        grid-template-columns:0.1fr 0.8fr 1.2fr 0.1fr;
    }

    .profile.img-container img{
        width:130%;
    }

    .profile.profilepic-div{
        width:90px;
        height:90px;
    }

    .profile-profile-image {
        height:100px;
    }

    .profile.delete{
        height:40px;
    }

    .profile.delete-cancel{
        height:40px;
    }

    .profile.clothing-item p{
        font-size:16px;
    }

    .profile.item-container {
        margin-top:25px;
    }

    .profile.info-container{
        grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .profile.item-amount, 
    .profile.post-amount{
        margin-top:35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-container{
        padding: 10px 30px;
        background-color: #DDDDDD;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        z-index: 2;
    }
    

    .login-error{
        margin-right:30px;
    }

    .nav-li.right{
        transition-duration:0.5s ;
        margin-right:0px !important;
    }

    .register.grid-container{
        grid-template-columns: repeat(5, 1fr); 
        grid-template-columns: 1.5fr 2fr 1.5fr;
    }

    /* end of register */
    /*  */

    /*  */
    /* PROFILE */

    .profile.info-container{
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;;
    }


    /* END OF PROFILES */
    /*  */
}